NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/authdb

APP_URL=http://localhost:5173
API_URL=http://localhost:5000

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d

COOKIE_NAME_REFRESH=refresh_token

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
MAIL_FROM="Auth System <your@gmail.com>"

CORS_ORIGINS=http://localhost:5173,https://lgojo.si